
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='addPokemon.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

<div id="home">
  <div class="aboutImg">
    <img src="http://www.pngmart.com/files/2/Pokeball-PNG-Image.png" class="pokemon-ball" width="300">
  </div>
  <div>
    <h1 class="headerOne">Please Add New Pokemon</h1>
      <div>
          <a class="mon-bouton" href=" /api/pokemons ">Back</a>
    </div>
      <div class="modal-body">
                   <form action="/api/pokemons/create" method="POST">
                        <div class="form-group">
                            <label> Name pokemon : </label>
                            <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Name">
                        </div>

                        <div class="form-group">
                            <label>size : </label>
                            <input type="number" name="size" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>weight : </label>
                            <input type="number" name="weight" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Statistical : </label>
                            <input type="number" name="statistical" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>picture : </label>
                            <input name="picture" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>powers : </label>
                            <input type="number" name="powers" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>description</label>
                            <input type="text" name="description" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>precisions : </label>
                            <input type="number" name="precisions" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>PPMax : </label>
                            <input type="number" name="PPMax" class="form-control">
                        </div>
                         <div class="form-group">
                            <label for="type">Type:</label>
                            <select name="type" required>
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <button type="submit" class="btn btn-primary mb-2">Save</button>

                    </form>


                </div>

  </div>
</div>

</body>
</html>