<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokémon</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.2/examples/album/">
    <link rel="stylesheet" href="{{ url_for('static', filename='getPokemon.css') }}">
</head>
<body>
<ul>
  <li><h1 class="active" href="#home">Les Pokémons</h1></li>
  <li><a href=" {{ url_for('createPokemons') }} ">Add Pokemon</a></li>
  <li><a href=" {{ url_for('getSkils') }} ">View skils</a></li>
  <li><a href=" {{ url_for('getTypesById') }} ">View Type</a></li>
</ul>



<div id="cards">
 {% for row in pokemons %}
  <figure class="card card--normal">
    <div class="card__image-container">
      <img src="{{row.5}}" alt="Eevee" class="card__image">
    </div>

    <figcaption class="card__caption">
      <h1 class="card__name">{{row.1}}</h1>

      <h3 class="card__type">
       {{row.0}}
      </h3>

      <table class="card__stats">
        <tbody>
          <tr>
            <th>Size</th>
            <td>{{row.2}}</td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>{{row.3}}</td>
          </tr>

          <tr>
            <th>Statistics</th>
            <td>{{row.4}}</td>
          </tr>


        </tbody>
      </table>

      <div class="card__abilities">
        <h4 class="card__ability">
          <span class="card__label"></span>
         <a href="/api/pokemons/{{row.0}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">afficher les detailles</a>

        </h4>
        <h4 class="card__ability">
          <span class="card__label"></span>
            <a href="/api/pokemons/update/{{row.0}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>

        </h4>
           <h4 class="card__ability">
          <span class="card__label"></span>
            <a href="/api/pokemons/delete/{{ row.0 }}" onclick="return confirm('Are Sure Want To Deleted ?')" class="btn btn-danger btn-sm">Delete</a>

        </h4>
      </div>
    </figcaption>
  </figure>
      {% endfor %}
</div>


 </body>
</html>