<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <a href=" {{ url_for('getPokemon') }} ">Back</a>
<div>
    <label for="type-select">Choose a type:</label>
    <select name="types" id="type-select">
        <option value="">--Please choose a type--</option>
        {% for type in types %}
        <option value="{{ type.id_Type }}">{{ type.id_Type }}</option>
        {% endfor %}
    </select>

    <div id="type-info">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for type in types %}
                <tr>
                    <td scope="row">{{ type.id_Type }}</td>
                    <td>{{ type.typeName }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


</body>
</html>