<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update Pokemon</h1>
 <div class="modal-body">
     <form action="{{ url_for('UpdateForm', id=id) }}" method="POST">
    <div class="form-group">
        <label> ID Pokemon:</label>
        <input type="number" name="id_Pokemon" value="{{ id }}">
    </div>

    <div class="form-group">
        <label> Name Pokemon</label>
        <input type="text" name="name" class="form-control" value="{{ name }}" placeholder="Enter Name">
    </div>

    <div class="form-group">
        <label>Size</label>
        <input type="number" name="size" class="form-control" value="{{ size }}">
    </div>

    <div class="form-group">
        <label>Weight</label>
        <input type="number" name="weight" class="form-control" value="{{ weight }}">
    </div>

    <div class="form-group">
        <label>statistical</label>
        <input type="number" name="statistical" class="form-control" value="{{ statistical }}">
    </div>

    <div class="form-group">
        <label>Picture</label>
        <input name="picture" type="text" class="form-control" value="{{ picture }}">
    </div>

    <button type="submit" class="btn btn-success mb-2">Update</button>
</form>
 </div>
</body>
</html>