<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update type</h1>
 <div class="modal-body">
     <form action="{{ url_for('updateTypeById', id=id) }}" method="POST">
        <div class="form-group">
            <label> Type name</label>
            <input type="text" name="typeName" class="form-control" value="{{ typeName }}" placeholder="Enter type name ">
        </div>
         <button type="submit" class="btn btn-success mb-2">Update</button>
     </form>
 </div>
</body>
</html>